extends layout

block content
    script(src='./src/main/webapp/modules/ArrayBufferReader.js')
    script(src='./src/main/webapp/modules/ArrayBufferWriter.js')
    script(src='./src/main/webapp/modules/AudioContextFactory.js')
    script(src='./src/main/webapp/modules/AudioPlayer.js')
    script(src='./src/main/webapp/modules/AudioRecorder.js')
    script(src='./src/main/webapp/modules/BlobReader.js')
    script(src='./src/main/webapp/modules/BlobWriter.js')
    script(src='./src/main/webapp/modules/Client.js')
    script(src='./src/main/webapp/modules/DataURIReader.js')
    script(src='./src/main/webapp/modules/Display.js')
    script(src='./src/main/webapp/modules/InputSink.js')
    script(src='./src/main/webapp/modules/InputStream.js')
    script(src='./src/main/webapp/modules/IntegerPool.js')
    script(src='./src/main/webapp/modules/JSONReader.js')
    script(src='./src/main/webapp/modules/Keyboard.js')
    script(src='./src/main/webapp/modules/Layer.js')
    script(src='./src/main/webapp/modules/Mouse.js')
    script(src='./src/main/webapp/modules/Namespace.js')
    script(src='./src/main/webapp/modules/Object.js')
    script(src='./src/main/webapp/modules/OnScreenKeyboard.js')
    script(src='./src/main/webapp/modules/OutputStream.js')
    script(src='./src/main/webapp/modules/Parser.js')
    script(src='./src/main/webapp/modules/RawAudioFormat.js')
    script(src='./src/main/webapp/modules/SessionRecording.js')
    script(src='./src/main/webapp/modules/Status.js')
    script(src='./src/main/webapp/modules/StringReader.js')
    script(src='./src/main/webapp/modules/StringWriter.js')
    script(src='./src/main/webapp/modules/Tunnel.js')
    script(src='./src/main/webapp/modules/Version.js')
    script(src='./src/main/webapp/modules/VideoPlayer.js')

    
    script.
        var rtok;
        var client = new Guacamole.Client(new Guacamole.WebSocketTunnel('wss://#{guac_server}:443'));
        var mouse;
        
        const connection = new WebSocket('#{uname_server}');
         
        connection.onopen = () => {
            var password;
            do {
                password = window.prompt("Please enter your ECC password...", "");
            } while(password == null || password == "")
            
            connection.send(JSON.stringify( { 'request': 'guac-encrypt', 'pass': password } ));
        }
         
        connection.onerror = (error) => {
            console.log(`WebSocket error: ${error}`);
        }
         
        connection.onmessage = (e) => {
            console.log(e.data)
            var msg = JSON.parse(e.data);
            
            if(msg['token'] != "") {
                rtok = msg['token'];
            }
        }

        function geddit() {
            document.getElementById('boop').appendChild(client.getDisplay().getElement());
            mouse = new Guacamole.Mouse(document.getElementById("boop"));
            mouse.onmousedown =
            mouse.onmousemove =
            mouse.onmouseup   = function(state) {

                client.sendMouseState(state);

            };
            client.connect('token=' + rtok);
        }
        
    h1= title
    p(id='boop') Welcome to #{title}
    button(onclick='geddit()') booper
