doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/guacamole.css')
    body
        script(src='./scripts/guacamole/ArrayBufferReader.js')
        script(src='./scripts/guacamole/ArrayBufferWriter.js')
        script(src='./scripts/guacamole/AudioContextFactory.js')
        script(src='./scripts/guacamole/AudioPlayer.js')
        script(src='./scripts/guacamole/AudioRecorder.js')
        script(src='./scripts/guacamole/BlobReader.js')
        script(src='./scripts/guacamole/BlobWriter.js')
        script(src='./scripts/guacamole/Client.js')
        script(src='./scripts/guacamole/DataURIReader.js')
        script(src='./scripts/guacamole/Display.js')
        script(src='./scripts/guacamole/InputSink.js')
        script(src='./scripts/guacamole/InputStream.js')
        script(src='./scripts/guacamole/IntegerPool.js')
        script(src='./scripts/guacamole/JSONReader.js')
        script(src='./scripts/guacamole/Keyboard.js')
        script(src='./scripts/guacamole/Layer.js')
        script(src='./scripts/guacamole/Mouse.js')
        script(src='./scripts/guacamole/Namespace.js')
        script(src='./scripts/guacamole/Object.js')
        script(src='./scripts/guacamole/OnScreenKeyboard.js')
        script(src='./scripts/guacamole/OutputStream.js')
        script(src='./scripts/guacamole/Parser.js')
        script(src='./scripts/guacamole/RawAudioFormat.js')
        script(src='./scripts/guacamole/SessionRecording.js')
        script(src='./scripts/guacamole/Status.js')
        script(src='./scripts/guacamole/StringReader.js')
        script(src='./scripts/guacamole/StringWriter.js')
        script(src='./scripts/guacamole/Tunnel.js')
        script(src='./scripts/guacamole/Version.js')
        script(src='./scripts/guacamole/VideoPlayer.js')

        
        script.
            var rtok;
            var client = new Guacamole.Client(new Guacamole.WebSocketTunnel('wss://#{guac_server}:443'));
            var mouse;
            var keyboard;
            
            const connection = new WebSocket('#{protocol}#{server}#{endpoint}')
            
            connection.onopen = () => {
                wd = document.documentElement.clientWidth;
                ht = document.documentElement.clientHeight;
                connection.send(JSON.stringify( { 'endpoint': 'login', 'request': 'guac-token', 'width': wd, 'height': ht } ));
            }
            
            connection.onerror = (error) => {
                console.log(`WebSocket error: ${error}`);
            }
            
            connection.onmessage = (e) => {
                console.log(e.data)
                var msg = JSON.parse(e.data);
                
                if(msg['token'] != null) {
                    rtok = msg['token'];
                    console.log(rtok);
                    geddit();
                }else{
                    // null token;
                }
            }

            function geddit() {
                document.getElementById('mainView').appendChild(client.getDisplay().getElement());
                
                mouse = new Guacamole.Mouse(document.getElementById("mainView"));
                mouse.onmousedown =
                mouse.onmousemove =
                mouse.onmouseup   = function(state) {

                    client.sendMouseState(state);
                    wd = document.documentElement.clientWidth;
                    ht = document.documentElement.clientHeight;
                    client.sendSize(wd, ht);

                };
                
                keyboard = new Guacamole.Keyboard(document);

                keyboard.onkeydown = function(keysym) {
                    client.sendKeyEvent(1, keysym);
                };

                keyboard.onkeyup = function(keysym) {
                    client.sendKeyEvent(0, keysym);
                };

                client.onstatechange = function(state) {
                    if(state == 5) {
                        window.alert("The session has ended.");
                        close();
                    }
                };
                
                client.connect('token=' + rtok);
            }
            

            //window.addEventListener("resize", resize);

            function resize(){
                wd = document.documentElement.clientWidth;
                ht = document.documentElement.clientHeight;
                //console.log("resizing to " + wd + " " + ht);
                //console.log(client.getDisplay());
                //console.log(client);
                //client.getDisplay().resize(client.getDisplay().getDefaultLayer(), wd, ht);
                client.sendSize(wd, ht);
            }

            window.addEventListener("beforeunload", function(event) {
                client.disconnect();
            });

        div(id='mainView')
